settings.xml
frontend/node
frontend/node_modules
backend/target
backend/.gradle
frontend/.gradjson
frontend/.gradle
frontend/build
frontend/dist
backend/src/main/webapp/resources
backend/nb-configuration.xml
.idea
target
*.class
frontend/.m2
frontend/evaluated-username.properties
frontend/evaluated-password.properties

# Ignora todas las carpetas relacionadas a jest unit
coverage
**/__snapshots__
.vscode

#sonar
.sonarlint/

**/.npmrc
**/.jest-cache